.header{
    min-width: 1200px;
    height: 80px;
    background: #515a6e;
    position: relative;
}
.nav-left {
    margin-left: 40px;
    display: inline-block;
    font-size: 18px;
}
.pull-left {
    float: left!important;
}
.header>.nav-left img {
    position: absolute;
    display: block;
    left: 150px;
    top: 10px;
}
img{
    vertical-align: middle;
}
.header>.nav-right {
    height: 80px;
}
.nav-right {
    display: inline-block;
    margin-right: 0px;
    width: 1100px;
}
.pull-right {
    float: right!important;
}
.x-input {
    width: 200px;
    height: 30px;
    background: #fff;
    border: 3px solid deepskyblue;
    text-indent: 2em;
    outline: none;
    top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.x-connect {
    top: 21px;
    margin-left: 20px;
    background: deepskyblue;
    width: 120px;
    height: 35px;
    color: white;
    outline: none;
    border: 3px solid deepskyblue;
    border: 0;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}
.x-disconnect {
    top: 21px;
    margin-left: 20px;
    background: darkred;
    width: 120px;
    height: 35px;
    color: white;
    outline: none;
    border: 3px solid red;
    border: 0;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}
#terminal:-webkit-full-screen{
    background-color: rgb(255, 255, 12);
}
.container {
    width: 100%;
    min-height: 600px;
}
.fullSc {
    z-index: 10000;
    position: fixed;
    top: 25%;
    left: 90%;
    display: none;
}
#fullScBtn {
    border-radius:17px;
    border: 0;
    cursor: pointer;
    background-color: black;
}